registry=http://packages.platformq.com:5080
email=abezuska@gmail.com
init.author.name=Alex Bezuska
init.author.email=abezuska@gmail.com
init.author.url=http://alexbezuska.com/
init.license=MIT
init.version=0.0.0
